# Core
streamlit==1.52.2
plotly==6.5.0
openai==2.14.0

# Financial libraries
finnhub-python==2.4.26
yfinance==1.0

# Data handling
pandas==2.0.3
numpy==1.26.4
requests==2.31.0

# Utilities
python-dateutil==2.9.0.post0
